<div class="field">
<label for="prism[license]">License</label>
<select name="prism[license]">
     <option value="by" selected="selected">CC Attribution</option> 
     <option value="by-nd">CC Attribution-NoDerivs</option>
     <option value="by-nc-sa">CC Attribution-NonCommercial-ShareAlike</option>
     <option value="by-sa">CC Attribution-ShareAlike </option>
     <option value="by-nc">CC Attribution-NonCommercial</option>
     <option value="by-nc-nd">CC Attribution-NonCommercial-NoDerivs</option>
     <option value="cc0">Public Domain</option>
     <option value="fair-use">Fair Use</option>
     <option value="none">None</option>
</select>
<%= link_to('About the licenses', 'https://creativecommons.org/licenses/') %>
</div>
