<% content_for :extra_head do %>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
  setup_visualize();
  select_facet($("li.vis_facet").eq(0));
  $( "#visualizations" ).accordion({heightStyle: "content"});
});

google.load("visualization", "1", {packages:["corechart"]});
</script>
<% end %>

<div id="Prismabob">
  <h1><%= @prism.title.html_safe %></h1>
  <h2><%= @prism.author %></h2>

  <div class="text">
    <%= @prism.content.html_safe %>
  </div>
</div>
<div id="sidebar">


  <%= render 'vizopts' %>

</div>
