env:
  - DB=mysql

language: ruby

rvm:
  - 2.2.0

notifications:
  irc: "irc.freenode.org#slab"

script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec

before_script:
  - mysql -e 'create database prism_test'

