<div class="page-margin">
  <div id="page-content">
    <h1><%= t 'alumni.alumni_title' %></h1> 

    <h2><%= t 'alumni.year_title' %></h2>
    <div id="contributors-alumni"><p><%= t 'alumni.contributors_alumni_html' %></p></div>

  </div>
</div>
