<div id="buttons">
  <span><%= link_to 'Demo', demo_path, :class => 'demo' %></span>
  <span><%= link_to 'Create', new_prism_path, :class => 'create' %></span>
  <span><%= link_to 'Play', prisms_path, :class => 'play' %></span>
</div>


