
<h1>Welcome</h1>

<div class="warn">
  <p>Prism is being developed at warp speed. Keep checking back to see if there is something here.</p>
</div>

<ul id="texts">
  <% @documents.each do | document | %>
    <li><%= link_to document.title, document %></li>
  <% end %>
</ul>



