 <span id="corner-banner"> 
            <em>beta</em> 
        </span>

<div id="buttons">
  <%= link_to image_tag('button1.png'), demo_path %>
  <%= link_to image_tag('button2.png'), new_prism_path %>
  <%= link_to image_tag('button3.png'), prisms_path %>
</div>


