<p class="motto">A Tool for Collaborative Interpretation of Texts</p>

<div id="buttons">
<%= link_to image_tag('button1.png'), home_path %>
<%= link_to image_tag('button2.png'), home_path %>
<%= link_to image_tag('button3.png'), home_path %>
</div>
