<% title "Home" %>


<!-- <div class="alert alert-warning">
  We will be performing maintenance on this site Monday, November 16, 2015 starting at 9:00 am EST.
</div> -->


<div id="buttons">
  <span><%= link_to 'Demo', demo_path, :class => 'demo' %></span>
  <span><%= link_to 'Create', new_prism_path, :class => 'create' %></span>
  <span><%= link_to 'Play', prisms_path, :class => 'play' %></span>
</div>


