<div class="page-margin">
  <div id="page-content">
    <h1>Terms of Service</h1> 
    <h2>Purpose and Scope of this Site</h2>
    <p>This site has been created under the ownership and control of the University of Virginia Library to allow use of the Prism program created by the Scholars' Lab Praxis Program.  Its purpose is to provide an online collaborative interpretive tool.  Through Prism, users are able to share texts and allow others to interact with those texts to create a collaborative interpretation. No submitted texts will be reviewed before being published online, but the Scholars' Lab does reserve the right to request revisions or remove any given texts. In other words, the Scholars' Lab Prism website has been established to allow for collaborative interpretation, and does not constitute a forum for general expression.</p>
    <h2>Legal Responsibilities</h2>
    <p>You agree that it is your individual responsibility to adhere to all applicable legal requirements including copyright law, and that you have not posted content that is defamatory of or harmful to the legal rights of others. You represent and warrant that you either own or have received permission to post the all content submitted, or that your excerpts from the original works of others are consistent with fair use guidelines under US copyright law.</p>
    <h2>Publication Rules</h2>
    <p>All contributions to the Prism environment are published under a Creative Commons Attribution-NonCommercial ShareAlike 3.o Unported Public Use License. Under the terms of this license, you permit free distribution, display, and/or performance of your submitted works of authorship, so long as you are credited by name each time your content is utilized. This license does not interfere with your personal ability to reuse or republish self-authored content you post here, either in a commercial or noncommercial context.</p>
    <h2>Preservation</h2>
    <p>The University of Virginia Library does not promise backup, restoration, continued maintenance, or dedicated archiving of content created in through the Prism website. Any questions about these policies should be directed to scholarslab@virginia.edu.</p>
    <h2>YOUR CREATION OF A PRISM ACCOUNT INDICATES YOUR AGREEMENT WITH THE ABOVE TERMS.</h2> 
  </div>

</div>
