<div class="page-margin">
  <div id="Prismabob">
    <h1><%= @document.title %></h1>
    <h2><%= @document.author %></h2>

    <div class="text">
     <%= @document.content.html_safe %>
    </div>
  </div>
  <div id="tools">
      <ul id="highlighters">
        <li>Daddy Issues</li>
        <li>Dumpling Truck</li>
        <li>Pesky Bird Issues</li>
        <li class="selected">Eyebrow Threading Problems</li>
      </ul>
      <p id="highlighter-help">Twee umami carles whatever wes anderson, pitchfork williamsburg +1 brunch DIY letterpress sustainable mixtape sriracha master cleanse. Ethnic whatever messenger bag, cliche portland irony thundercats butcher vegan brunch master cleanse bushwick. Kale chips lo-fi semiotics pour-over viral, squid tofu brooklyn before they sold out twee letterpress ethical. Brunch before they sold out PBR tattooed terry richardson, echo park keffiyeh VHS sustainable authentic brooklyn mcsweeney's readymade. Put a bird on it odd future beard, pinterest narwhal messenger bag marfa. Fingerstache hoodie gentrify salvia synth. Flexitarian retro before they sold out squid post-ironic etsy VHS tattooed, cray pinterest single-origin coffee tumblr.
      </p>
  </div>
</div>
