<div class="page-margin">
  <div id="Prismabob">
    <h1><%= @document.title %></h1>
    <h2><%= @document.author %></h2>

    <div class="text">
     <%= @document.content.html_safe %>
    </div>
  </div>
  <div id="visualizations">
      <ul id="visualization-types">
        <li>Type 1</li>
        <li>Type 2</li>
        <li>Type 3</li>
        <li>Type 4</li>
      </ul>
      <p>Select one of the options above to display a visualization of collected data for this text.
      </p>
  </div>
</div>
</div>
