body {font-family: 'Quicksand', sans-serif;}
html {
	
	background: white;
}
body {
	
	max-width: 800px; 
	background: white; 
	margin: 20px auto; 
	padding: 80px; 
	@include border-radius(20px);
}

header {
	
	text-align: center;
}

.motto {text-align: center;
	font-size: 16px;

}

#buttons img{
    width: 200px;
    height: 200px;
    margin: 25px;
    @include border-radius(20px);
}

#buttons {text-align: center;
	margin-top:25px;}

nav {
	text-align: center;

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	li {
		display:inline-block;
		padding: 45px 45px;
		float: center;
	}

	a { 
		text-decoration: none;
		color: black;
	}
}
 
a {text-decoration: none; color: red;}

nav,
.motto {text-transform: uppercase;}


label, 
input[type=email], 
input[type=password] {display: block;}