::selection,
::-moz-selection { background: white; text-shadow: none;}

* {
  @include box-sizing('border-box');
}

html {	
	background: white;
}

body {
	max-width: 800px; 
	background: white; 
	margin: 20px auto;
	padding-top: 0 px;
	@include border-radius(20px);
	font-family: $headerfont;
}

// Form elements
label {
  display:block;
  color: lighten(black, 50%);
  input[type=checkbox] + & {
    display:inline;
  }
}

select {
  width:100%;
}

textarea {
  font-family: $parafont;
  font-size: 1em;
  box-shadow:none;
  border:1px solid #ccc;
  padding: 0.25em;
  width: 100%;
  &:focus {
    border-color: #777;
    outline:none;
  }
}

input {
  margin-bottom:1em;

  &[type=text],
  &[type=email],
  &[type=password] {
    @extend textarea;
  }

  &[type=submit] {
    border:none;
    @extend .button;
    background-color: $blue !important;
    cursor:pointer;
    &:hover {
      background-color: darken($blue, 20%) !important;
    }
  }

}

.button {
	display: block;
	background-color: $yellow;
	color: white !important;
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	@include border-radius(10px);
	margin-bottom: 20px;
}

 #corner-banner {
        position: absolute;
        left: -140px;
        top: 100px;
        display: block;
        width: 600px;
        background: $yellow;
        text-align:center;
        font-size:20px;
        line-height:20px;
        padding:3px 200px;
        @include rotate(315deg);
        @include box-sizing(border-box);
}
       


header {
	
	text-align: center;
	padding-top: 0px;
}

.motto {text-align: center;
	font-size: 16px;
}

#buttons {
  @include clearfix;
  text-align:center;
  margin: 4em 0;

  span {
    display:inline-block;
  }

  a {
    color: white;
    background-color: $blue;
    width: 220px;
    line-height: 220px;
    text-align:center;
    font-size: 1.25em;
    text-transform:uppercase;
    @include border-radius(110px);
    float:left;
    margin: 0 20px;

    &.demo {
      background-color: $red;
      &:hover,
      &:active {
        background-color: darken($red, 10%);
      }
    }
    &.create {
      background-color: $green;
      &:hover,
      &:active {
        background-color: darken($green, 10%);
      }
    }
    &.play {
      background-color: $blue;
      &:hover,
      &:active {
        background-color: darken($blue, 10%);
      }
    }
  }
}

nav {

	font-family: $headerfont;
	text-align: center;
	width: 428px;
	margin-left: auto;
	margin-right: auto;

	ul {
		list-style: none;
		margin-left: 0px;
		padding-top: 25px;
		padding-left: 0px;
		padding-bottom: 0px;
	}

	li {
		display:inline-block;
		padding: 30px 30px;
		padding-bottom: 0px;
	}

	a {
    &:link,
    &:visited {
      color:lighten(black, 50%);
    }
    &:hover,
    &:focus,
    &:active {
      color: black;
    }
  }
}
 
a {
  text-decoration: none;
  color: $blue;

  &:link,
  &:visited {
    color: $blue;
  }
  &:hover,
  &:focus,
  &:active {
    color: darken($blue, 20%);
  }
}

nav, h1, h2,
.motto {text-transform: uppercase;
		font-weight: normal;
		font-size: 18px;
}

h2 {
	padding-top: 20px;	
}

h3 {
	font-weight: normal;
	font-size: 18px;
}

table {
	width: 100%;

	th {
	 text-align:left;
	}
}

p {
	font-family: $parafont;
	font-size:15px;
}

p.motto {
	font-family: $headerfont;
}

//sign-in elements---------------------------
#socialmedia {
	text-align:center; 
	border-bottom: 1px solid #ccc;
	padding: 20px 0;

	img{
    	width: 50px;
    	height: 50px;
    	padding: 10px;
    	display: inline-block;

    }
    }

#signinpage {
	width: 650px;
	margin: 0 auto;
	@include clearfix;
}

#signinform {
	width: 47%;
	float:left;
}

#userform {
	width: 47%;
	float:right;
}

#user_meta {
	float: right;
	font-size: 13px;
	color: lighten(black, 50%);
}



//footer elements-----------------------------

#footernav {
	text-align: center;	
	margin-top: 200px;
	clear: both;

	a {
		text-transform: uppercase;
		padding-left: 20px;
		padding-right: 20px;

    &:link,
    &:visited {
      color:lighten(black, 50%);
    }

    &:hover,
    &:focus,
    &:active {
      color: black;
    }

    &#slab-link {
      width: 150px;
      display:block;
      text-align:center;
      margin:20px auto;
      opacity: 0.5;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.9;
      }

      img {
        max-width: 100%;
        width:auto;
        height:auto;
      }
    }
	}
}

//flash notice---------------------------------

.flashmessage{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	width: 394px;
	font-weight: bold;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
}

#flash_notice {
	color: $blue;

}

#flash_alert {
	color: $red;

}

//browse styling--------------------------------


th, td {
	border-bottom: 1px solid $gray;
	padding: 10px;
	}

th {
	height: 50px;
	border-bottom-width: 3px;
}

td {
	height:50px;
	vertical-align:bottom;
	&.visualize,
	&.highlight {width: 15%;}
}

#new-prism {
	float: right;
}

//highlight pages------------------------------

#Prismabob {
	width: 60%;
	display: inline-block;
	float: left;
}

#highlight_sidebar {
	width: 30%;
	float: right;	
}

#tools {
	padding-bottom: 50px;
}

#highlighters {
  list-style:none;
  padding-left:0;
  padding-top: 76px;

  li {
    @include clearfix;

    span.facet {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      margin-right: 2%;
      @include border-radius(16px);
    }
   }

li.facet{
	padding: 5px;
}

li.vis_facet{
	padding: 5px;
}
}


//new prism page-------------------------------
#new_prism {
  @include clearfix;
}

#content {
  float: left;
  width: 65%;
}

#sidebar {
	width: 30%;
	float: right;
}

#facetbutton {
  margin-bottom: 2em;

  .field {
    @include clearfix;
    position:relative;
    margin-bottom:10px;
  }

  img, input {
    float:left;
  }

  img {
    width: 20px;
    height: 20px;
    position:absolute;
    top: 50%;
    margin-top: -10px;
  }

  input {
    margin: 0 0 0 30px !important;
    max-width: 80%;
  }
}

