body {font-family: 'Quicksand', sans-serif;}

html {
	
	background: white;
}

body {
	
	max-width: 800px; 
	background: white; 
	margin: 20px auto;
	padding-top: 0 px;
	@include border-radius(20px);
}

header {
	
	text-align: center;
	padding-top: 0px;
}

.motto {text-align: center;
	font-size: 16px;


}

#buttons img{
    width: 200px;
    height: 200px;
    margin: 25px;
    @include border-radius(20px);
}

#buttons {text-align: center;
	margin-top:25px;}

nav {

	font-family: 'Quicksand', sans-serif;
	text-align: center;

	ul {
		list-style: none;
		margin-left: 0px;
		padding-top: 25px;
		padding-bottom: 0px;
	}

	li {
		display:inline-block;
		padding: 45px 45px;
		padding-bottom: 0px;
		float: center;
	}

	a { 
		text-decoration: none;
		color: black;
	}
}
 
a {text-decoration: none; color: $blue;}

h {padding: 0;
}

nav, h1, h2, h3,
.motto {text-transform: uppercase;
		font-weight: normal;
		font-size: 16px;
}

p {font-family: verdana, sans-serif;;
	font-size:13px;}

p.motto {font-family: 'Quicksand', sans-serif;}

//sign-in elements---------------------------

label, 
input[type=email], 
input[type=password] {display: block;}

