body {font-family: 'Quicksand', sans-serif;}
html {
	
	background: whitesmoke;
}
body {
	
	max-width: 800px; 
	background: white; 
	margin: 20px auto; 
	padding: 80px; 
	@include border-radius(20px);
}

header {
	
	text-align: center;
}

h1, h2 {text-align: center;

}

#buttons img{
    width: 150px;
    height: 150px;
    margin: 20px;
    @include border-radius(20px);
}

#buttons {text-align: center;}

nav {
	text-align: center;

	ul {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}

	li {
		display:inline-block;

	}

	a {
		padding: 10px 60px; 
		text-decoration: none;
		color: black;
	}
}
 

a {text-decoration: none; color: red;}

nav,h2 {text-transform: uppercase;}
