// Imports -------------------------------------------------------------------
@import "compass";
@import "compass/css3/pie";
@import "susy";

// Settings ------------------------------------------------------------------

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false !default;
$legacy-support-for-ie8         : false !default;
$ie                             : false !default;

$show-column-grid-backgrounds   : false;
$show-baseline-grid-backgrounds : false;
$show-grid-backgrounds          : false;

$total-cols                     : 10;  /* 10-column grid */
$col-width                      : 10%; /* each column is 10% of container wide */
$gutter-width                   : 0; /* 0% gutters between columns */
$side-gutter-width              : 0; /* 0em padding at the edges of the page as well */

$pie-behavior                   : url("/PIE.htc");

// Fonts---------------------------------------------------------------------

$headerfont: 'Quicksand', sans-serif;
$parafont: 'source sans pro', sans-serif;

//colors---------------------------------------------------------------------

$blue: #2E64FE;
