// Imports -------------------------------------------------------------------
@import "compass";
@import "compass/css3/pie";
@import "susy";

// Settings ------------------------------------------------------------------

$legacy-support-for-ie6         : false;
$legacy-support-for-ie7         : false !default;
$legacy-support-for-ie8         : false !default;
$ie                             : false !default;

$show-column-grid-backgrounds   : false;
$show-baseline-grid-backgrounds : false;
$show-grid-backgrounds          : false;

$total-cols                     : 10;  /* 10-column grid */
$col-width                      : 10%; /* each column is 10% of container wide */
$gutter-width                   : 0; /* 0% gutters between columns */
$side-gutter-width              : 0; /* 0em padding at the edges of the page as well */

$pie-behavior                   : url("/PIE.htc");

// Fonts---------------------------------------------------------------------

$headerfont: 'Quicksand', sans-serif;
$parafont: 'source sans pro', sans-serif;

//colors---------------------------------------------------------------------

$blue: #5683ff;
$red: #ff3737;
$green: #00f3b1;
$yellow: #ffe400;
$gray: #CCCCCC;
$white: #fff;

$oneval: color-stops(
rgba(86,131,255,1) 0%,
rgba(0,0,255,0) 100%
);

$twoval : color-stops(
rgba(255,0,0,0) 0%,
rgba(255,55,55,1)50%,
rgba(255,0,0,0) 100%
);

$threeval : color-stops(
rgba(0,255,0,0) 0%,
rgba(0,243,177,1) 100%
);
