// Imports --------------------------------------------------------------------

@import "base";
@import "normalize";
@import "fonts";
@import url(http://fonts.googleapis.com/css?family=Lustria|Mako|Carme|Noticia+Text|Andada);

#container {
  @include container;
  @include susy-grid-background;
  }

.warn {
  color: red;
  font-size: 20px;
  }
  
.page-margin {
    margin-left: 9%;
    margin-right: 9%;}

a:link {text-decoration:none;      /*styles all the links on the site*/
  font-weight:bold;
        color: Teal;}
a:visited {text-decoration:none;
           color: Teal;}
a:hover {text-decoration:none;
         color: lightseagreen;}
a:active {text-decoration:none;
          color: Dimgray;}

header {
margin-top: 3%;
background: rgb(40,52,59);
background: -moz-linear-gradient(left,  rgba(40,52,59,1) 0%, rgba(130,140,149,1) 50%, rgba(181,189,200,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(40,52,59,1)), color-stop(50%,rgba(130,140,149,1)), color-stop(100%,rgba(181,189,200,1)));
background: -webkit-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 50%,rgba(181,189,200,1) 100%);
background: -o-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 50%,rgba(181,189,200,1) 100%);
background: -ms-linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 50%,rgba(181,189,200,1) 100%);
background: linear-gradient(left,  rgba(40,52,59,1) 0%,rgba(130,140,149,1) 50%,rgba(181,189,200,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28343b', endColorstr='#b5bdc8',GradientType=1 );
    /* gradient magic from the internet with browser compatibility*/

font-family: carme, sans-serif;
   color: white;
   overflow: hidden;            /* clears header floats so body doesn't follow them*/
}

#user-meta {
background-image: (-webkit-gradient(linear,  left top,  left bottom, 
		color-stop(0.00, royalblue), 
		color-stop(40%, turquoise),
		color-stop(90%, goldenrod),
		color-stop(1.00, darkorange)));
   /* here I'm trying to make a second gradient lay on top of the colorful one on right edge of header
   (-webkit-gradient(linear, right top, right bottom,
    color-stop(0.00, #FFFFFF),
    color-stop(20%, #BFBFBF),
    color-stop(40%, #262626),
    color-stop(60%, #BFBFBF),
    color-stop(80%, #262626),
    color-stop(1.00, #FFFFFF))); */
  float: right;
  width: 26%;
  padding-right: 5%;
  padding-left: 2%;
  padding-top: 1%;     /*styles for entirety of log-in form*/
}

#user-meta input[type="text"], 
#user-meta input[type="password"] {
  display: block;
  margin-bottom: 5px;  /*displays user ID and password form boxes on separate lines and puts small space b/t them */
}
#user-meta input[type="submit"] {
  float:right;
  margin-right: 23%;
  font-family: carme, sans-serif;
  font-size: 16px;   /*gives submit button same font as rest, moves button in line with right edge of form*/
}
 #user-meta a {
   text-decoration: none;
   font-weight: normal;
   }

#user-meta p a:not(:last-child):after {
  content:" | ";
  margin: 0 10px;
  color: #999;   /*puts vertical line between "forgot your password" and "sign up" links -- this is crazy CSS voodoo!*/
}

header h1 {
  float: left;
  margin-left: 9%;
  margin-right: 2%; /*styles anything with the H1 html tag in the header file. In this case, that's just the Prism logo */
}

p.description {
  float: left;
  width: 32%;
  margin-left: 2%;
  margin-top: 2%;
 }  /*styles short description in header*/


body {
  font-color: #003333;
  font-family: carme, sans-serif;
  }  /*font and color of all body text, unless otherwise specified in stylesheet*/
 
body h1 {
   size: 30px;
   margin-bottom: 5px;
   text-shadow: 0px 2px 3px rgba(0,0,0,0.5);  /*shadow on all body h1s -- black, 50% transparent*/
 }
 
iframe {
  float:left;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
  margin-right: 3%;   /*styles for video on homepage, including 50% transparent black box shadow all around */
}

#texts {
  list-style:none; 
  display:block;
  clear:all;
  margin-top: 120px;
}

#texts li {
  float: left;
  width: 23%;
  padding: 2%;
  margin: 2%;
}
a.visualize, a.highlight {
  font-family: lustria, times, serif;
  font-size: 15px;
    border: 1px gray;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    padding: 2px 10px;
    margin-bottom: 3%;
    }
a.highlight {margin-right: 18%}

div.doc-display {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
  height: 250px;
  padding: 2%;
  margin-top: 5%;
  font-size: 20px;
  font-family: lustria, times, serif;
  text-align: center;
  a {display: block}
}

footer {
  display: table;
  clear: both;
  float: right;
  margin-top: 20px;
  
  #uva-lib-logo, 
    #slab-logo {
       display: table-cell;
       vertical-align: middle;
       padding-left: 20px;
       padding-right: 20px;
       padding-top: 10px;
        }
  }

p.blockquote {
 padding-left: 8%;}

#Praxis {
  float: right;
  width: 30%;
  padding: 1%;
  margin-top: 18%;
   }

   #Praxis h2 {
     font-size: 26px;
     text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}

#page-content {
  float: left;
  width: 60%;
  padding: 1%;
  margin-right: 2%;
  margin-top: 2%;
}


#Prismabob {
  width: 60%;
  padding: 1%;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.25);
}

#Prismabob h1 {
  font-size: 30px;
  text-align: center;
}

#Prismabob h2 {
  font-size: 24px;
  text-align: center;
}

#Prismabob h3 {
  font-size: 18px;
  text-align: center;
}
