// Place all the styles related to the prism controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vis_facet, #highlighters {
  .blue { background:  $blue; }
  .red { background:   $red; }
  .green { background: $green; }
}


.noselect {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#visualizations {

span.facet.blue:hover {
background-color: $blueroll;
}

span.facet.red:hover {
background-color: $redroll;
}

span.facet.green:hover {
background-color: $greenroll;
}
}

.red-vis{
  color: $red;
}

.blue-vis {
  color: $blue;
}

.green-vis {
  color: $green;
}

.red {
  @include background(linear-gradient($twoval));
}

.green {
  @include background(linear-gradient($threeval));
}

.blue {
  @include background(linear-gradient($oneval));
}

.blue.green {
  @include background(linear-gradient($oneval), linear-gradient($threeval));
}

.red.green {
  @include background(linear-gradient($twoval), linear-gradient($threeval));
}

.red.blue {
  @include background(linear-gradient($twoval), linear-gradient($oneval));
}

.red.green.blue {
  @include background(linear-gradient($twoval), linear-gradient($threeval),linear-gradient($oneval));
}

.word {
  @include pie;
  line-height:150%;

  .winning & {
    cursor:pointer;

    &:hover,
    &:focus {
      background: lighten($yellow, 20%);
    }

    &:active {
      background: $yellow;
    }

  }
}

