// Place all the styles related to the prism controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blueval: color-stops(
rgba(0,0,255,1) 0%,
rgba(0,0,255,0) 100%
);

$redval : color-stops(
rgba(255,0,0,0) 0%,
rgba(255,0,0,1)50%,
rgba(255,0,0,0) 100%
);

$greenval : color-stops(
rgba(0,255,0,0) 0%,
rgba(0,255,0,1) 100%
);

#highlighters span.facet.border {
  border: 2px solid black;
}

#visualizations span.facet.border {
  border: 2px solid black;
}

.red-vis{
  color: rgb(179,179,0);
}

.blue-vis {
  color: rgb(0,179,179)
}

.green-vis {
  color:rgb(0,179,89);
}

.red {
  @include background(linear-gradient($redval));
}

.green {
  @include background(linear-gradient($greenval));
}

.blue {
  @include background(linear-gradient($blueval));
}

.blue.green {
  @include background(linear-gradient($blueval), linear-gradient($greenval));
}

.red.green {
  @include background(linear-gradient($redval), linear-gradient($greenval));
}

.red.blue {
  @include background(linear-gradient($redval), linear-gradient($blueval));
}

.red.green.blue {
  @include background(linear-gradient($redval), linear-gradient($greenval),linear-gradient($blueval));
}

.word {
  @include pie;
  line-height:150%;
}