// Place all the styles related to the prism controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#highlighters span.facet.border {
  border: 2px solid black;
}

#visualizations span.facet.border {
  border: 2px solid black;
}

.red-vis{
  color: $red;
}

.blue-vis {
  color: $blue;
}

.green-vis {
  color: $green;
}

.red {
  @include background(linear-gradient($twoval));
}

.green {
  @include background(linear-gradient($threeval));
}

.blue {
  @include background(linear-gradient($oneval));
}

.blue.green {
  @include background(linear-gradient($oneval), linear-gradient($threeval));
}

.red.green {
  @include background(linear-gradient($twoval), linear-gradient($threeval));
}

.red.blue {
  @include background(linear-gradient($twoval), linear-gradient($oneval));
}

.red.green.blue {
  @include background(linear-gradient($twoval), linear-gradient($threeval),linear-gradient($oneval));
}

.word {
  @include pie;
  line-height:150%;
}