/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require styles
*/

h1 {
  float: left;
  margin: 10px;
}

p {
  font-family: corbel, sans-serif;
  font-size: 18px;
  color: #003333;
  float: right;
  padding-top: 30px;
 
}

ul {
  font-family: corbel, sans-serif; 
  font-size: 28px;
  color: #003333;
  clear: both;
  li {
    border: 2px solid gray;
    margin: 4px;
}
}

footer {
clear: both;
margin: 5px;
border-top: 1px solid gray;
}

