// Place all the styles related to the prism controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue : color-stops(
<<<<<<< HEAD
rgba(0,0,255,1) 0%,
rgba(0,0,255,0) 100%
);

$red : color-stops(
rgba(255,0,0,0) 0%,
rgba(255,0,0,1)50%,
rgba(255,0,0,0) 100%
);

$green : color-stops(
rgba(0,255,0,0) 0%,
rgba(0,255,0,1) 100%
=======
rgba(0,0,255,0.7) 0%,
rgba(0,0,255,0) 50%,
rgba(0,0,255,0.7) 100%
);

$red : color-stops(
rgba(255,0,0,0.7) 0%,
rgba(255,0,0,0) 50%,
rgba(255,0,0,0.7) 100%
);

$yellow : color-stops(
rgba(255,255,0,0.7) 0%,
rgba(255,255,0,0)50%,
rgba(255,255,0,0.7) 100%
);

$green : color-stops(
rgba(0,255,0,0.7) 0%,
rgba(0,255,0,0) 50%,
rgba(0,255,0,0.7) 100%
>>>>>>> 8ea5baaadff056df0354cbc6ea1c397deb63806e
);

#highlighters span.facet.border {
  border: 2px solid black;
}

#visualizations span.facet.border {
  border: 2px solid black;
}

.red-vis{
  color: rgb(179,179,0);
}

.blue-vis {
  color: rgb(0,179,179)
}

.green-vis {
  color:rgb(0,179,89);
}

.red {
  @include background(linear-gradient($red));
}

.green {
  @include background(linear-gradient($green));
}

.blue {
  @include background(linear-gradient($blue));
}

.yellow {
  @include background(linear-gradient($yellow));
}

.blue.green {
  @include background(linear-gradient($blue), linear-gradient($green));
}

.red.green {
  @include background(linear-gradient($red), linear-gradient($green));
}

.red.blue {
  @include background(linear-gradient($red), linear-gradient($blue));
}

.red.green.blue {
  @include background(linear-gradient($red), linear-gradient($green),linear-gradient($blue));
}

.word {
  @include pie;
  line-height:150%;
}
