// Place all the styles related to the prism controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    line-height:200%;
}
.red {
    background-color: rgba(179,0,0,0.5);
    border-top: none;
    border-bottom: none;
}

.green {
    border-top: none;
    border-bottom: none;
    margin-top: 10px;
    background-color: rgba(0,179,0,0.5);
}

.blue {
    margin-bottom: 10px;
    background-color: rgba(0,0,179,0.5);
    border-top:  none;
    border-bottom: none;
  }
