<p><%= t 'log-in.welcome' %> <%= @resource.email %>!</p>

<p><%= t 'log-in.confirm' %></p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
