<footer>

<div id="footernav">

	<%= link_to image_tag('scholarslab.png'), "https://scholarslab.org" %>

      <a href="https://github.com/scholarslab/prism">Github</a>

      <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>

      <a href="http://www.scholarslab.org/people/">Contact Us</a>

</div>
     
</footer>

