<hr>

<footernav>

      <img src= "scholarslab.png">

      <a href="https://github.com/scholarslab/prism">Github</a>

      <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>

      <a href="http://www.scholarslab.org/people/">Contact Us</a>

     
</footernav>