<footer>
<a href="http://scholarslab.org" id=slab-logo>
  <img src="http://static.scholarslab.org/images/slab-logo-rgb-125px.png" title="Scholars' Lab" alt="Scholars' Lab"/>
</a>
<a href="http://lib.virginia.edu/" id=uva-lib-logo>
  <img src="http://static.scholarslab.org/images/uvalib.png" alt="University of Virginia Libraries"/>
</a>
</footer>
