<header>
<h1><a href="/"><%= image_tag('prism-logo.png') %></a></h1>
<p class="description">Prism is a set of digital tools for crowdsourcing interpretation. <br> It is an ongoing project of the Praxis Program at the <br> University of Virginia Scholars’ Lab .</p>

<nav role="primary-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/instructions.html">Instructions</a></li>
    <li><a href="/documents.html">Documents</a></li>
    <li><a href="/about.html">About</a></li>
  </ul>
</nav>

</header>
