<nav>
  <ul>
    <li>
      <%= link_to t('About'), about_path %>
    </li>


    <li>
      <a href="http://www.virginia.edu/history/user/359">myPrism</a>
    </li>


    <li>
      <a href="Contact.html" target="_self">Browse</a>
    </li>

    <li>
      <% if user_signed_in? %>
      <%= link_to t('header.sign_out'), destroy_user_session_path, :method => :delete, :id => 'sign-out' %>
    <% else %>
      <%= link_to t('header.sign_in'), new_user_session_path %>
    <% end %>
    </li>

</ul>
</nav>


  <header>
<div class="header-margin">

<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

  <h1><%= link_to image_tag('LOGO.png'), home_path %></h1>
  <motto> A Tool for Collaborative Interpretation of Texts </motto>

  <div id="user-meta">
  
  </div>
</div>
</header>



<!--[if lt IE 9]>
<p id="browser-upgrade">Prism is built to support at least Internet Explorer 9. <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
<![endif]-->

