<header>
<h1><a href="/"><%= image_tag('prism-logo-mintcream.png') %></a></h1>
<p class="description">Prism is a set of digital tools for crowdsourcing interpretation. It is an ongoing project of the Praxis Program at the University of Virginia Scholars’ Lab. <a href="/about.html"> More info </a></p>
</header>
